* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  color: rgb(0, 32, 96);
}

.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  text-align: center;
  grid-gap: 10px;
}

.header {
  grid-template-columns: 1/-1;
  padding: 2%;
  font-weight: 400;
}
.header p {
  font-weight: 400;
  font-size: 32px;
}
.list li {
  display: inline;
  margin: 1%;
  padding: 1%;
}
.sec-header {
  font-weight: 400;
  font-size: 32px;
}

input {
  width: 40%;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0.5%;
  padding: 10px;
  outline: none;
}
#search {
  padding: 10px;
  width: max-content;
  border-radius: 20px;
  border: 1px solid rgb(0, 32, 96);
  background-color: rgb(0, 32, 96);
  color: white;
}
button {
  color: rgb(0, 32, 96);
}
button:hover {
  cursor: pointer;
}

button:focus {
  border-bottom: 2px solid rgb(0, 32, 96);
}
.body-grid {
  margin: 2%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* grid-auto-rows: auto; */
  grid-gap: 10px;
}
.article {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 32, 96);
}
.sec-header {
  padding: 7% 0 0 5%;
  text-align: center;
}
.navbar {
  padding: 20px;
  background-color: white;
  border: rgb(0, 32, 96);
  font-weight: 600;
}

.text {
  /* margin: 0 0 12px; */
  background-color: rgb(247, 252, 255);
  padding: 20% 0 5% 0;
  border: 1px;
  line-height: 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 1px 2px #999;
}

.article a {
  font-weight: lighter;
  font-size: 3mm;
  color: rgb(0, 32, 96);
}
.article a:hover {
  text-decoration: none;
}
.article img {
  border-radius: 50%;
  padding: 5%;
  /* z-index: 99; */
  margin: 0 auto -75px;
  vertical-align: middle;
  width: 180px;
}

@media screen and (max-width: 600px) {
  .body-grid {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: none;
    grid-gap: 10px;
    margin: 2%;
  }

  .body-grid img {
    width: 200px;
    margin: 0 auto -75px;
  }
  .navbar {
    padding: 5px;
    font-size: 11px;
  }

  input {
    width: 90%;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0.5%;
    margin-bottom: 1%;
    padding: 10px;
    outline: none;
  }
  #search {
    padding: 10px;
    width: 75%;
    border-radius: 20px;
    border: 1px solid rgb(0, 32, 96);
    background-color: rgb(0, 32, 96);
    color: white;
  }
}
@media screen and (min-width: 768px) {
  .body-grid {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: none;
    grid-gap: 10px;
    margin: 2%;
  }
  .navbar {
    padding: 5px;
    background-color: white;

    font-weight: 500;
  }

  .article img {
    border-radius: 50%;
    padding: 5%;
    /* z-index: 99; */
    margin: 0 auto -120px;
    vertical-align: middle;
    width: 300px;
  }
  input {
    margin: 1%;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 20px;
    background-color: white;
    border: rgb(0, 32, 96);
    font-weight: 600;
  }
  .body-grid {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    /* grid-auto-rows: auto; */
    grid-gap: 10px;
  }

  .article img {
    border-radius: 50%;
    padding: 5%;
    /* z-index: 99; */
    margin: 0 auto -75px;
    vertical-align: middle;
    width: 225px;
  }
}

@media screen and (max-width: 320px) {
  .body-grid {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: none;
    grid-gap: 10px;
    margin: 2%;
  }
  .navbar {
    font-size: 10px;
  }
  .body-grid img {
    width: 200px;
    margin: 0 auto -65px;
  }
}
